<!DOCTYPE html>
<html>
<head><title>Gamified Learning</title></head>
<body>
  <h1>Welcome to Gamified Learning Platform</h1>
  <a href="/student-login">Login as Student</a> | 
  <a href="/teacher-login">Login as Teacher</a>
</body>
</html>
